dist
package-lock.json
node_modules
error.log
.idea
.vscode
*.log
coverage/*
.env*
.DS_Store
index.html
combined.log

todo.org

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env
database.json
